{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}

<body>
    <div id="container" style="overflow:hidden;width:100%;height:100%;display:none;"></div>

    <div class="main">
        <div class="container-lg">
            <img src="../assets-home/theme.png" alt="theme" class="img-fluid mb-4 theme">
            <button
                onclick="document.querySelector('#container').style.display = 'block';document.querySelector('.main').style.display = 'none'"
                class="btn-play">
                Jouer
            </button>
            <button class="btn-reglement" data-bs-toggle="modal" data-bs-target="#modalReglement">
                Reglement
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modalReglement" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Règlement du jeu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="../assets-home/render_rules.png" alt="logo-marque" class="img-fluid mb-4"
                                style="display: block; margin-left: auto; margin-right: auto;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Jeu concours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    <div>
                        <img src="../assets-home/concours.png" alt="logo-marque" class="img-fluid mb-4"
                            style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                {{ form_label(form.firstName, 'Prénom') }}
                                {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                {{ form_label(form.lastName, 'Nom') }}
                                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                {{ form_label(form.pseudo, 'Pseudo') }}
                                {{ form_widget(form.pseudo, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                {{ form_label(form.age, 'Age') }}
                                {{ form_widget(form.age, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-4">
                        {{ form_label(form.email, 'Adresse email') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-outline mb-4">
                        {{ form_label(form.hobbies, 'Interêt') }}
                        {{ form_widget(form.hobbies, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                {{ form_label(form.sex, 'Sexe') }}
                                {{ form_widget(form.sex, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                {{ form_label(form.familyComposition, 'Famille') }}
                                {{ form_widget(form.familyComposition, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-check required">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" autocomplete="off" required>
                        <label class="form-check-label" for="flexCheckChecked">
                            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">J'accepte les conditions
                                d'utilisation</a>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal GCU -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Condition générales d'utilisation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    L’utilisation du site https://www.football-rush.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site https://www.football-rush.fr  sont donc invités à les consulter de manière régulière.

                    Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Florian Hennebo, Lyskawa Aude, Louyat Virgile et Liebaut Mélusine, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.

                    Le site https://www.football-rush.fr  est mis à jour régulièrement par Florian Hennebo, Lyskawa Aude, Louyat Virgile et Liebaut Mélusine. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <script src="./js/phaser.min.js"></script>
    <script src="./js/game.js"></script>

</body>
{% endblock %}